@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

body {
  transition: color 1s 0s;

  color: rgb(var(--foreground));
  background-color: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background))
    )
    rgb(var(--background));
  }
  
.link-active {
  font-weight: bolder;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
